<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My Website {% endblock %}</title>
</head>
<body>
<header>
<h1>
{% block header %}Welcome To eMobilis {% endblock %}
</h1>
<nav>
    <ul>
        <li><a href="{% url 'my_index' %}">Home</a></li>
        <li><a href="{% url 'my_about' %}">About</a></li>
        <li><a href="{% url 'my_contact' %}">Contact</a></li>
        <li><a href="{% url 'my_gallery' %}">Gallery</a></li>

    </ul>
</nav>
</header>
<main>
    {% block content %} {%endblock%}
</main>
<footer>
    <p>&copy; 2024 Emobilis</p>
</footer>
</body>
</html>