{% extends 'base.html' %}
{% load static%}
{% block content %}
    <h2>OurMostValuedCars</h2>
<img src="{% static 'images/black.png' %}" alt="">
<img src="{% static 'images/nfseheat.png' %}" alt="">
<img src="{% static 'images/red.png' %}" alt="">
<img src="{% static 'images/redblack.png' %}" alt="">
    <h1>IloveLatin</h1>
   <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam amet aut commodi dolores ducimus eveniet excepturi illum impedit incidunt iusto minima natus, non placeat repudiandae, ullam vel? Ipsam, rerum.</p>


{% endblock %}
